/* =====================  ADVANTAGES ===================== */
.advantages-left-side {
  width: 470px;
  flex-shrink: 0;
  padding-left: 100px;
}

.advantages-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.advantages-list-item {
  width: 170px;
  min-height: 132px;
  padding: 20px 21px;
  background-color: #f7f7f7;

  &:not(:nth-child(even)) {
    margin-right: 30px;
  }

  &:nth-child(even) {
    margin-top: 30px;
  }
}

.advantages-list-count {
  position: relative;
  width: max-content;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  margin: 0 auto;
  margin-bottom: 6px;

  &::after {
    position: absolute;
    top: 10px;
    right: -12px;
    content: "";
    width: 11px;
    height: 12px;
    background-image: url("../images/advantages/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.advantages-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  text-align: center;
  color: #303030;
}

.advantages-right-side {
  padding-left: 130px;
}
/* ===================== END ADVANTAGES ===================== */
