/* ===================== GALLERY ===================== */
.gallery-list {
  display: flex;
  margin: -15px;
}

.gallery-list-item {
  margin: 15px;
}
/* ===================== END GALLERY ===================== */
