.title {
  font-family: var(--title-font);
  @include font(28px, 700, 33px);
  letter-spacing: 0.05em;

  .about &,
  .advantages & {
    margin-bottom: 20px;
  }

  .masters &,
  .services & {
    margin-bottom: 44px;
  }
}

.title-light-theme {
  color: #303030;
}

.title-dark-theme {
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .title {
    @include font(42px, 700, 49px);
  }
}
